/*img {
	margin-right: 430px;
	width: 500px;
	height: 300px;
}*/

/*iframe{
	width: 500px;
	height:500px;
	margin-left: 440px;
}
*/
h1{
	text-align: center;
	color: yellow;
}

h3{
	color: black;
}

/*p{
	color: black;
}
*/


footer {
    margin: 100px 0;
}

span{
	text-align: center;
}